/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/* UTILITY */

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.x-y-center{
    justify-content: center;
    align-items: center;
}

.y-center{
    align-items: center;
}

.row-reverse{
    flex-direction:row-reverse;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}
/* UTILITY */

/*----GENERAL----*/
*{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    height: 100%;
}

.col-1-3{
    height: 90%;
    width: calc(100% / 3);
}

.col-2-3{
    height: 90%;
    width: calc((100% / 3) * 2);
}

.col-1-5{
    width: calc(100% / 5);
}

.col-3-5{
    width: calc((100% / 5) * 3);
}

.my-button{
    border-radius: 50px;
    padding: 0.5em;

}

.background-white{
    background-color: #FFFFFF;
}

.background-dark{
    background-color: #23272A;
    color: #FFFFFF;
}

.my-button[class^=background] {
    text-align:center;
}

h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}

p{
    font-size: 1.5em;
    line-height: 1.5em;
}

/*---------------*/

/* HEADER */
header{
    padding: 15px 0;
    background-color: #255EE9;
}

.navbar{
    width: 100%;
    height: 80px;
    margin: 0 -30px;
}

.navbar a, .navbar a:visited{    
    text-decoration: none;
    color: #23272A;
}



.navbar nav > ul{
    list-style: none;
    width: 100%;
}

.navbar.flex-container.space-between nav > ul > li{
    color: #FFFFFF;
}

.login{
    text-align: center;
}


/*---------------  */

/* SEZIONE MAIN 1 */
main > section{
    padding: 50px 0;
}

main > section.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.media{
    padding:50px 0;
    width:100%
}

.media-window{
    height: 80%;
    width: 60%;
    text-align: center;
}

.media-window > div.flex-container{
    padding: 1.5em 0;
    margin: 0 15px;
}

.media-window > div.flex-container .my-button{
    margin: 0 15px;
}

/* SEZIONE MAIN 1 */

/* SEZIONE MAIN 2-4 */
main .flex-container.y-center{
    padding: 30px 0;
    width: 100%;
}


/* SEZIONE MAIN 5 */


.big-box{
    height: 90%;
    width: 100%;
    text-align: center;
}

.big-box h2{
    font-size: 4em;
}

.big-box > *{
    width: 100%;
}




/* SEZIONE MAIN 5 */


/* SEZIONE FOOTER 1 */

footer > section:nth-child(1){
    height: 400px;
}

footer  > section:nth-child(1) .container{
    padding: 5px 0 0 0;
}

footer  > section:nth-child(1) .container > .flex-container{
    height: 350px;
    
}


footer .flex-container .ftr-small-col{
    height:90%;
    width: 40%;
}

footer .flex-container .ftr-big-col{
    height: 90%;
    width: 60%;
}

footer .flex-container .ftr-big-col div{
    height: 100%;
    width: calc(100% / 4);
}

/* SEZIONE FOOTER 1 */



/* SEZIONE FOOTER 2 */

footer > section:nth-child(2){
    border-top: white;
    height: 150px;
    
}


footer > section:nth-child(2) > .container > .flex-container{
    align-self: flex-end;
    height: 70%;
    width: 100%;
}

footer > section:nth-child(2) > .container > .flex-container > .flex-container.space-between{
    height: 100%;
    width: 100%;

}


footer > section:nth-child(2) div.flex-container.space-between *{
    height: 15%;
    width: calc(100% / 6);
    border: solid black 1px;
}



/* SEZIONE FOOTER 2 */



/*-------DEBUG---------*/

/* .debug{
    
    background-color: aqua;
    border: 3px dashed red;
} */

/* .debug > header{
    background-color: lightblue;
    
}

.debug > header  .navbar{
    background-color: goldenrod;
    border: solid black 2px;
    
}

.debug > header  .navbar *{
    border: solid black 1px;
} */

/* .debug > main > section:nth-child(1){
    background-color: blue;
}

.debug > main > section:nth-child(1) .media-window{
    background-color: fuchsia;
    border: 5px dashed black;
} */

/* .debug > main > section:nth-child(even){
    background-color: lightcoral;
}

.debug > main > section:nth-child(3){
    background-color: lightsalmon;
}

.debug > main > section .small-col{
    background-color: red;
    border: 5px dotted blueviolet;
}

.debug > main > section .big-col{
    background-color: green;
    border: 5px dotted yellow;

}

.debug > main > section:nth-child(5){
    background-color: darkslategrey;
}

.debug > main > section .big-box{
    background-color: orange;
    border: 5px dashed purple;

} */

.debug > footer > section:nth-child(1){
    background-color: limegreen;
}

.debug > footer > section:nth-child(1) .ftr-small-col{
    background-color: brown;
    border: solid yellow 3px;

}

.debug > footer > section:nth-child(1) .ftr-big-col{
    background-color: antiquewhite;
    border: dashed purple 3px;

}

.debug > footer > section:nth-child(1) .ftr-big-col div{
border: dotted black 2px;
}



.debug > footer > section:nth-child(2){
    background-color: bisque;
    ;
    
}

.debug footer > section:nth-child(2) > div > .flex-container{
    background-color: aqua;
    border: 10px dashed grey;
}

.debug footer > section:nth-child(2) div.flex-container.space-between *{
    border: solid black 1px;
    background-color: red;
}
