/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/* UTILITY */

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.x-y-center{
    justify-content: center;
    align-items: center;
}

.y-center{
    align-items: center;
}

.row-reverse{
    flex-direction:row-reverse;
}

.column{
    flex-direction: column;
}

.align-content-spc-btwn{
    align-content:space-around;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}
/* UTILITY */

/*----GENERAL----*/
*{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    height: 100%;
}

ul{
    list-style: none;
}

.col-1-3{
    height: 90%;
    width: calc(100% / 3);
}

.col-2-3{
    height: 90%;
    width: calc((100% / 3) * 2);
}

.col-1-4{
    width: calc(100% / 4);
}

.col-1-5{
    width: calc(100% / 5);
}


.col-2-5{
    width: calc((100% / 5) * 2);
}

.col-3-5{
    width: calc((100% / 5) * 3);
}

.my-button{
    border-radius: 50px;
    padding: 0.5em;

}

.background-white{
    background-color: #FFFFFF;
}

.background-dark{
    background-color: #23272A;
    color: #FFFFFF;
}

.background-indigo{
    background-color: #7289DA;
    color: #FFFFFF;
    text-align:center;
}

main > section{
    padding: 40px 0;
}



h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}

p{
    font-size: 1.5em;
    line-height: 1.5em;
}

nav a, nav a:visited{
    text-decoration: none;
    color: #FFFFFF;
}


/*---------------*/

/* HEADER */
header{
    padding: 15px 0;
    background-color: #255EE9;
}

.navbar{
    width: 100%;
    height: 80px;
    margin: 0 -30px;
}

.login a, .login a:visited, a{    
    text-decoration: none;
    color: #23272A;
}



.navbar nav > ul{
    width: 100%;
}

.navbar.flex-container.space-between nav > ul > li{
    color: #FFFFFF;
}

.login{
    text-align: center;
}


/*---------------  */

/* SEZIONE MAIN 1 */


main > section.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.media{
    padding:40px 0;
    width:100%
}

.media-window{
    height: 80%;
    width: 60%;
    text-align: center;
}

.media-window > div.flex-container{
    padding: 1.5em 0;
    margin: 0 15px;
}

.media-window > div.flex-container .my-button{
    margin: 0 15px;
}

/* SEZIONE MAIN 1 */

/* SEZIONE MAIN 2-4 */
main .flex-container.y-center{
    padding: 20px 0;
    width: 100%;
}

main section:nth-child(odd){
    background-color: #F6F6F6;
}

main > section:nth-child(odd)::before{
 
}

main > section:nth-child(odd)::before{
 
}

/* SEZIONE MAIN 5 */


.big-box{
    height: 90%;
    width: 80px;
    text-align: center;
}


.big-box > *{
    width: 100%;
}

.big-box > div:nth-of-type(1) h2{
    font-size: 4em;
}

.big-box > div:nth-of-type(2){
    justify-self: center;
}

.big-box > div:nth-of-type(2) h2{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
    display: inline-block;
}

.big-box > div:nth-of-type(2) .my-button.background-indigo{
    margin: auto;
}



/* SEZIONE MAIN 5 */


/* SEZIONE FOOTER 1 */
footer{
    background-color: #23272A;
}

footer > section:nth-child(1){
    padding-top:2em;
    padding-bottom:1em;
   
}

footer > section:nth-child(1) > .container > .flex-container{
    height: 100% ;
}

footer .flex-container .ftr-small-col, footer .flex-container .ftr-big-col{
    height:100%;

}

.ftr-small-col > h2, .ftr-big-col h3{
    color: #7289DA;

}

.language{
    margin: .5em 0;
}

.language *{
    display: inline-block;
    height: 1em;
    vertical-align: middle;
}

.social *{
    height: 1.5em;
    width: 1.5em;
}

footer ul{
    width: 100%;
}

footer ul > li{
    margin-top: 1em;
    width: 100%;
}

.language, .social{
    color: #FFFFFF;
    margin-top: 0.5em;
}


/* SEZIONE FOOTER 1 */



/* SEZIONE FOOTER 2 */

footer > section:nth-child(2){
    padding-bottom: 50px;
}

footer > section:nth-child(2) .container{
    border-top: 2px solid #7289DA;
    height: 100%;
    
}


footer > section:nth-child(2) > .container > .flex-container{
    align-self: flex-end;
    height: 50%;
    width: 100%;
}

footer > section:nth-child(2) > .container > .flex-container > .flex-container.space-between{
    height: 50%;
    width: 100%;
}

footer > section:nth-child(2) > .container > .flex-container > .flex-container.space-between *{
    margin: 2em 0;
}


/* SEZIONE FOOTER 2 */

